body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-transform: uppercase;
}
.flex-container {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}
.flex-container>* {
    flex: 0 1 100vw;
    border: dashed 1px grey;
    text-align: center;
}
h1 {
    font-size: 5em;
    font-weight: 200;
}
h2 {
    font-weight: 400;
}
a {
    text-decoration: none;
}