body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-transform: uppercase;
    color: #d0e1f9;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
/* Flex Container */
.flex-container {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
}
.flex-container>* {
    /* BORDER ---------------------- */
    /* border: solid 1px grey;  */
}
/* Flex Container Items */
header h1 {
    margin-left: 3vw;
    font-size: 3vw;
}
/* Flex Container Index Items */
.flex-header-index {
    flex-basis: 50vw;
}
.flex-header-main {
    flex-basis: 70vw;
}
.flex-main-index {
    flex-basis: 40vw;
    align-self: center;
}
.flex-main-main {
    flex-basis: 20vw;
    align-self: center;
    /* min-height: 100vh; */
}
.flex-footer {
    flex-basis: 9vw;
}
/* Flex Nav */
main {
    /* BORDER ---------------------- */
    /* border: solid 1px #283655; */
}
main nav {
    display: flex;
    flex-flow: row wrap;
}
main nav>* {
    border: solid 1px #283655;
}
main nav a {
    font-weight: 100;
    font-size: 2vw;
}
/* Flex Nav Index */
.flex-nav-index>* {
    border-top: none;
    flex-basis: calc(50% - 4px);
}
/* Flex Nav Main */
.flex-nav-main {
    align-items: center;
    border-top: none;
    border-bottom: none;
}
.flex-nav-main>* {
    flex-basis: 20vw;
    border-top: none;
}
.flex-nav-main h2 {
    font-size: 1em;
    font-weight: 100;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: -3px;
}
.flex-nav-main a {
    padding: 15px 0px 15px 15px;
}
#profile,
#contact {
    padding-top: 41vh;
}
#profile {
    border-right: none;
}
#project {
    padding-bottom: 41vh;
    border-bottom: none;
}
h1 {
    font-size: 3em;
    font-weight: 200;
}
h2 {
    font-weight: 400;
    /* padding: 50px; */
}
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: #d0e1f9;
}
a:hover {
    color: #4d648d;
    background-color: #4d648d05;
}
a:active {
    color: darkgray;
}
.title {
    font-size: 3em;
    font-weight: 300;
    margin-top: 100px;
}
#canvas {
    margin-top: 3px;
    border: solid 1px grey;
}
.nav-top,
.nav-bottom {
    display: inline-block;
    margin-left: 40px;
}
.nav-top {
    margin-bottom: 30px;
}
.nav-bottom {
    margin-top: 30px;
}
.top-space {
    padding-top: calc(100% - 4px);
    border-bottom: none;
}
.bot-space {
    padding-top: calc(100% - 4px);
    border-bottom: none;
}
/* midnight blue: #1e1f26
indigo ink: #283655
blueberry: #4d648d
periwinkle: #d0e1f9 */
